<settings>
	<servers>
		<server>
			<id>Repository</id>
			<username>~~~Token~~~</username>
			<password>4dc844a2-fa99-457f-b2c7-1e3785a8a159</password>
		</server>
		<server>
			<id>anypoint.connectedapp</id>
			<username>~~~Client~~~</username>
			<password>06e4e42333f04425b861e7b15a536661~?~1e0cbAB56f91457D902541B80Ad2a726</password>
		</server>
		
		<server>
			<id>anypoint-exchange-v3</id>
			<username>~~~Client~~~</username>
			<password>06e4e42333f04425b861e7b15a536661~?~1e0cbAB56f91457D902541B80Ad2a726</password>
		</server>
		<server>
			<id>anypoint.credentials</id>
			<username>mule-ace-academy</username>
			<password>password</password>
		</server>
	</servers>
</settings>